nav {
    background: #292929;
    padding: 28px 97px;

    .logo {

        span {
            color: #FFFFFF;
            border: 0.5px solid #fff;
            padding: 6px 8px;
        }
    }
}

@media(max-width:768px) {
    nav {
        text-align: center;

    }
}