* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

h4 {
    margin: 0 97px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 13px;
    margin: 28px 97px;
}

.movie__item {
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }
}

@media(max-width:768px) {
    .grid__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 13px;
        margin: 18px;
    }

    h4 {
        margin: 18px;
    }
}